@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Tamil', sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    color: black;
}

main{
    position: relative; 
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-conteiner{
    height:78%;
    width: 25%;
    background-color: white;
    border-radius: 20px;
}

h1{
    position: absolute;
    font-weight: 500;
    top: 95px;
    left: 46%;
}

.conteiner{
    position: relative;
    top: 70px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    text-align: center;
    margin: 25px 0;
    line-height: 50px;
}

.conteiner.erro>small{
    color: red;
    opacity: 1;

}

.conteiner.erro>input{
    border-color: #e74c3c
}

.conteiner.sucesso input{
    border-color: #2ecc71;
}


input{
    position: relative;
    top: -8px;
    left: 4px;
    border-radius: 2px;
    outline: none;
    border-color: rgba(0, 0, 0, 0.15);
    padding: 5px 10px;

}

small{
    position: relative;
    top: -20px;
    left: 3px;
    opacity: 0;
}

button{
    background-color: lightblue;
    position: relative;
    left: 24%;
    top: 15%;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(187, 229, 243);
    transition: all 0.5s ease;
}
button>a{
    text-decoration: none;
    color:black ;
}
.checkbox{
    width: 100%;
    position: relative;
    top: 60px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkbox-conteiner{
    position: relative;
    top: 15px;
    display: flex;
    gap: 10px;
}


.text{
    font-weight: 400;
    position: relative;
    bottom: 12px;
}
